{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Melodi</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/nunito-font.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}"/>
	<link rel="shortcut icon" href="{% static 'img/logo/favicon.ico' %}">
</head>
<body class="form-v9">
	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url({% static 'img/signup.jpg' %});">
			<form class="form-detail" method="post">
				{% csrf_token %}
				<h2>Sign Up Form</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="username" id="full-name" class="input-text" placeholder="User Name" required>
					</div>
					<div class="form-row">
						<input type="email" name="email" id="your-email" class="input-text" placeholder="Your Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3}" required>
					</div>
					
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" required>
					</div>
					<div class="form-row">
						<input type="password" name="conform_password" id="confirm-password" class="input-text" placeholder="Confirm Password" required>
					</div>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
